# Supabase Configuration
SUPABASE_URL=tu_supabase_url
SUPABASE_KEY=tu_supabase_key

# Server Configuration
PORT=3000

# Mailtrap Configuration (para pruebas de email)
# Obtén estas credenciales en https://mailtrap.io/
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=tu_mailtrap_user
MAILTRAP_PASS=tu_mailtrap_password
